# SDK (cada máquina possui o próprio)
local.properties

# Pastas de compilação
[Bb]in/
[Oo]bj/
.gradle/
build/
*/build/
.kotlin/

# Android Studio / IDEs
.idea/
.vscode/
.vs/
*.iml
*.user
*.suo
*.userosscache
*.sln.docstates
.kts.user

# Banco local e desenvolvimento
appsettings.Development.json
*.db
*.db-journal

# Pacotes
packages/

# Native / NDK
.cxx/
.externalNativeBuild/

# Logs
*.log
*.lock

# Sistema operacional
.DS_Store
Thumbs.db

# Cache
*.cache
.cache/
cache/

# Assembly Info (arquivos gerados automaticamente)
GeneratedAssemblyInfo.cs
*.AssemblyAttributes.cs


# Build
bin/
obj/


# Nuget
*.nuget.g.props
*.nuget.g.targets
project.assets.json
project.nuget.cache
